.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs {
    display: flex;
}

.tablinks {
    border: 2px solid #ccc;
    padding:  10px 15px;
    background-color: #f1f1f1;
}

.tablinks:hover {
    background-color: #ddd;
}

.active {
    background-color: #ccc;
}
